@import "layout/_buttons.css";
@import "layout/_footer.css";
@import "layout/_header.css";
@import "layout/_loader.css";
@import "layout/_messages.css";
@import "layout/_nav.css";
@import "layout/_products.css";
@import "layout/_variables.css";
@import "layout/_ui.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.message.success {
    background: #e4ffe2;
    border: 1px solid #98e594;
    color: #043c31;
    padding: 1rem;
}

/* Form design ~ login */
::-webkit-input-placeholder, select, .upload-txt {
    color: #646464;
}

input, select, textarea, button, .upload {
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
}

input, select, textarea, .upload {
    background: #f9f7f7;
    padding: 1rem 1rem;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.upload {
    padding: 2rem 1.5rem;
}

.upload-txt {
    font-size: 13px;
    margin-left: .5rem;
}

.formbtn, .delete {
    background: #DF0161;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .15rem;
    margin: 3rem 0 0;
    padding: 1.5rem;
    text-transform: uppercase;
    transition: .5s;
    width: 100%;
}

form-btn:active,
.formbtn:focus, 
.formbtn:hover {
    background: #F23D91;
}

.message.warning {
    background: #ffe5ef;
    border: 1px solid #F23D91;
    color: #ce1e50;
    margin-bottom: 2rem;
    padding: 1rem;
}
