button {
    border-radius: 4px;
    font-family: 'Noto Sans', sans-serif;
}

/* 
    HOME 
    CTA-button 
*/
.header__ctabtn {
    background: #0E6500;
    border-radius: 4px;
    color: white;
    display: inline-block;
    letter-spacing: .1rem;
    margin-top: 3rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    transition: .5s;
}

.header__ctabtn:hover {
    background: #508200;
}

/* Cart button */
.product__cartbtn {
    background: #E21675;
    border: none;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    transition: .5s;
    width: 100%;
    border-radius: 0 0 4px 4px;
}

.product__cartbtn i {
    color: white;
    transition: .5s;
}

.product__cartbtn:hover {
    background: #D90D32;
}

.product__cartbtn:active,
.product__cartbtn:focus {
    background: #0E6500;
}

/* 
    ADMIN SECTIONS
*/
.display__addbtn {
    background: #E21675;
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin: 2rem 0 3rem;
    padding: 1rem;
    text-decoration: none;
    transition: .5s;
}

.display__addbtn:hover, 
.productitem__setting-link:hover {
    background: #D90D32;
}

/* Edit single product */
.productitem__setting-link {
    background: #E21675;
    border-radius: 4px;
    padding: .75rem 3.25rem;
    text-align: center;
    transition: .5s;
}

/* 
    FORM BUTTONS 
*/
#delete {
    margin-top: 1rem;
}

.delete, 
.formbtn {
    background: #E21675;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .15rem;
    margin: 3rem 0 0;
    padding: 1.5rem;
    text-transform: uppercase;
    transition: .5s;
    width: 100%;
}

.delete:active,
.form-btn:active,
.delete:focus, 
.formbtn:focus, 
.delete:hover, 
.formbtn:hover {
    background: #D90D32;
}

/* Update product button */
#update {
    background: #097f67;
    color: white;
    margin-top: 1.5rem;
}

#update:hover {
    background: #056074;
}

/* Logout button */
#logout {
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#logout-icon {
    font-size: 24px;
}

@media (max-width: 768px)  {
    .display__addbtn {
        margin: 2rem 0 1rem;
    }
}
