button {
    border-radius: $--content-corner;
    font-family: $--primary-font;
}

/* 
    HOME 
    CTA-button 
*/
.header__ctabtn {
    background: get(secondary-color);
    border-radius: $--content-corner;
    color: get(asset-color);
    display: inline-block;
    letter-spacing: .1rem;
    margin-top: 3rem;
    padding: 1rem 1.25rem;
    text-decoration: none;
    transition: $--animation;
}

.header__ctabtn:hover {
    background: get(link-color);
}

/* Cart button */
.product__cartbtn {
    background: get(cta-color);
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    transition: $--animation;
    width: $--full-width;
}

.product__cartbtn i {
    color: get(asset-color);
    transition: $--animation;
}

.product__cartbtn:hover {
    background: get(main-button-hover);
}

.product__cartbtn:active,
.product__cartbtn:focus {
    background: get(secondary-color);
}

/* 
    ADMIN SECTIONS
*/
.display__addbtn {
    background: get(cta-color);
    border-radius: $--content-corner;
    color: get(asset-color);
    display: inline-block;
    margin: 2rem 0 3rem;
    padding: 1rem;
    text-decoration: none;
    transition: $--animation;
}

.display__addbtn:hover, 
.productitem__setting-link:hover {
    background: get(main-button-hover);
}

/* Edit single product */
.productitem__setting-link {
    background: get(cta-color);
    border-radius: $--content-corner;
    padding: .75rem 3.25rem;
    text-align: center;
    transition: $--animation;
}

/* 
    FORM BUTTONS 
*/
#delete {
    margin-top: 1rem;
}

.delete, 
.formbtn {
    background: get(cta-color);
    border: none;
    color: get(asset-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .15rem;
    margin: 3rem 0 0;
    padding: 1.5rem;
    text-transform: uppercase;
    transition: $--animation;
    width: $--full-width;
}

.delete:active,
.form-btn:active,
.delete:focus, 
.formbtn:focus, 
.delete:hover, 
.formbtn:hover {
    background: get(main-button-hover);
}

/* Update product button */
#update {
    background: #097f67;
    color: get(asset-color);
    margin-top: 1.5rem;
}

#update:hover {
    background: #056074;
}

/* Logout button */
#logout {
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#logout-icon {
    font-size: 24px;
}

@media (max-width: getScreenSize(tablet-size)) {
    .display__addbtn {
        margin: 2rem 0 1rem;
    }
}
