footer {
    background: get(primary-color);
    color: get(asset-color);
    display: flex;
    flex-direction: row;
    flex-shrink: $--unset;
    font-size: 14px;
    justify-content: space-between;
    padding: 1rem;
}

.footer__media {
    display: flex;
    gap: 15px;
}

.wrapper {
    flex: 1 0 auto;
}

@media (max-width: getScreenSize(mobile-size)) {
    footer {
        flex-direction: column;
        gap: 25px;
        padding: 2rem 2rem 3rem;
        text-align: center;
    }
    .footer__media {
        justify-content: center;
    }
}
