.footer {
    background: get(primary-color);
    color: get(asset-color);
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding: $--white-space;

    &__media {
        display: $--default-layout;
        gap: 15px; 
    }
}

/* 
    core values to footer
    to make sure to keep it down 
*/
footer {
    display: $--default-layout;
    flex-shrink: $--unset;
}

@media (max-width: getScreenSize(mobile-size)) {
    footer {
        flex-direction: column;
        gap: 25px;
        padding: 2rem 2rem 3rem;
        text-align: $--site-display;
    }
    .footer__media {
        justify-content: $--site-display;
    }
}
