.menu {
    align-items: $--site-display;
    background: get(primary-color);
    box-shadow: rgb(0 0 0 / 10%) 0px 15px 30px;
    display: $--default-layout;
    height: 70px;
    justify-content: space-between;
    padding: 2.5rem 0;
    width: $--full-width;
    z-index: 999;
}

.menu__logo {
    color: get(asset-color);
    font-family: $--primary-font;
    font-size: 20px;
    margin-left: 25px;
    text-decoration: $--unfiltered;
}

/* 
    HAMBURGER MENU TOGGLE
*/
input[type="checkbox"] {
    display: $--unfiltered;
}

.menu__toggler {
    align-items: $--site-display;
    color: get(asset-color);
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    justify-content: $--site-display;
    width: 100px;
    /* are included so mobile menu works */
    display: $--default-layout;
    display: $--unfiltered;
}

/* Navigation bar menu */
.menu 
.menu__links 
.menu__item {
    display: inline-block;
    font-family: $--primary-font;
    font-size: 20px;
    padding: 0 15px;
}

.menu 
.menu__links 
.menu__item 
a {
    color: get(asset-color);
    text-decoration: $--unfiltered;
}

/* 
    USER INTERFACE MENU 
*/
.menu__userinterface {
    display: inline-flex;
    gap: 15px;
    margin-right: 25px;
    position: relative;
}

@media (max-width: getScreenSize(tablet-size)) {
    .menu__toggler {
        display: $--default-layout;
    }
    #toggle:checked ~ .menu__links {
        left: $--unset;
    }
    .menu 
    .menu__links {
        background: get(mobile-menu-color);
        left: -100%;
        height: 19.25rem;
        padding: 1rem 0 3rem;
        position: absolute;
        text-align: $--site-display;
        top: 80px;
        transition: 0.8s ease-in-out;
        width: 100%;
        z-index: 1;
    }
    .menu 
    .menu__links 
    .menu__item {
        display: block;
        padding: 20px 0px;
    }
    .menu 
    .menu__links 
    .menu__item 
    a {
        color: get(tertiary-color);
    }
}
