.products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 1.4rem auto 6rem;
  max-width: 1280px;
  padding: 2rem 3rem 0;
}
  
/* Single product display 
  from homepage 
*/
.product {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 1px;
  flex: 1 0 200px;

  &__card {
    background: get(asset-color);
    line-height: 50px;
    margin-top: -.35rem;
    padding: 1.5rem 1rem 2rem;
    text-align: $--site-display;
  }
  &__img {
    border-radius: 4px 4px 0 0;
    height: 250px;
    object-fit: cover;
    width: $--full-width;
  }
  &__item {
    text-transform: capitalize;
  }
  &__pricetag {
    font-size: 20px;
    margin-top: .5rem;
  }
}
  
/* 
  PRODUCTS ~ ADMIN PAGE 
*/
.display {
  margin: 4rem auto 6rem;
  max-width: 1280px;
  padding: 0 2.75rem;
}
  
/* 
  Single product card view design  
*/
.productitem {
  background: get(asset-color);
  border-radius: $--content-corner;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px 0px;
  display: $--default-layout;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
  padding: $--white-space;

  &__content {
    display: $--default-layout;
  }
  &__details {
    display: $--default-layout;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
    padding: 0 1.5rem;
  }
  &__setting {
    display: $--default-layout;
    flex-direction: column;
    justify-content: space-between;
  }
  &__view {
    border-radius: 50% !important;
    height: 150px;
    object-fit: cover;
    width: 150px;
  }
}
  
@media (max-width: getScreenSize(tablet-size)) {
  .display {
    margin: 2rem auto 2.5rem;
    padding: 0 2rem;
  }
  .products {
    gap: 35px;
    margin: .75rem auto 2.75rem;
    padding: 2rem 2rem 0;
  }
  .productitem {
    flex-direction: column;

    &__content {
      display: unset;
    }
    &__details {
      padding: 1rem 0 2rem;
    }
    &__view {
        border-radius: 0 !important;
        height: auto;
        width: $--full-width;
    }
    &__setting {
      margin-top: $--white-space;

      & p {
        margin-bottom: $--white-space;
        text-align: left !important;
      }
    }
  }
}
  