.header {
    background-size: cover !important;
    min-height: 480px;
    position: relative;
}

.header__content {
    left: 25%;
    min-width: 200px;
    padding: 2rem;
    position: absolute;
    top: 75px;
    transform: translateX(-50%);
}

.header__heading {
    color: #E60970;
    font-size: 36px;
    text-align: left;
}

@media (max-width: 1280px) {
    .header {
        min-height: 400px !important;
    }
    .header__content {
        top: 25px;
    }
}
@media (max-width: 991px) {
    .header {
        background-position-x: right !important;
        min-height: 300px !important;
    }
    .header__content {
        left: 0;
        padding: 1.5rem 1.75rem;
        top: 0;
        transform: none;
    }
}
@media (max-width: 768px) {
    .header__content {
        background: rgb(255 255 255 / 75%);
        height: 100%;
        width: 100%;
    }
}
