#form-page {
    margin: 4rem auto 6rem;
    max-width: 600px;
    padding: 2.5rem;
}

/* 
    DEFAULT FORM STYLING  
*/
form {
    margin-top: 2rem;
}

/* 
    Inputs ~ Layout 
*/
.formfield, 
.upload {
    width: $--full-width;
}

input, 
select, 
textarea, 
.upload {
    background: #f9f7f7;
    border: 1px solid #ccc;
    border-radius: $--content-corner;
    display: inline-block;
    font-family: $--primary-font;
    margin: 1rem 0;
    padding: $--white-space;
}

input:disabled {
    background: #d5d5d5;
}

/* Input placeholder text-color */ 
select, 
.upload-txt,
::-webkit-input-placeholder {
    color: #646464;
}

textarea {
    height: 150px;
    max-width: $--full-width;
}

/*  LOGIN FORM
    View typed password 
*/
.checkpassword {
    align-items: end;
    display: $--default-layout;
    justify-content: start;
}

.checkpassword__box {
    display: unset !important;
    margin: 0 .75rem 0 0;
    width: 10px;
}

.checkpassword__pointer {
    font-size: 12px !important;
}

/*  
    ADD PRODUCT FORM 
*/
.upload {
    padding: 2rem 1.5rem;
}

.upload i {
    color: #646464;
}

.upload__instrucs {
    font-size: 13px;
    margin-left: .5rem;
}
