$--animation: .5s;
$--content-corner: 4px;
$--default-layout: flex;
$--full-width: 100%;
$--primary-font: 'Noto Sans', sans-serif;
$--site-display: center;
$--unfiltered: none;
$--unset: 0;
$--white-space: 1rem;

/* SASS variable functions and values */
$screen: (
  desktop-size: 1280px,
  laptop-size: 991px,
  mobile-size: 375px,
  tablet-size: 768px,
);

@function getScreenSize($device) {
  @return map-get($screen, $device);
}

$colors: (
  asset-color: #ffffff,
  background-color: #fbfbfb,
  cta-color: #e21675,
  link-color: #508200,
  main-button-hover: #d90d32,
  mobile-menu-color: #f6ced6,
  primary-color: #dc2a6b,
  secondary-color: #0e6500,
  tertiary-color: #071d03,
);

@function get($color) {
  @return map-get($colors, $color);
}

/* Base SCSS code */
* {
  box-sizing: border-box;
  margin: $--unset;
  padding: $--unset;
}

body, html {
  color: get(tertiary-color);
  font-family: $--primary-font;
  height: $--full-width;
}

body {
  background: get(background-color);
  display: $--default-layout;
  flex-direction: column;
  height: 100vh;
  margin: $--unset;
  width: $--full-width;
}

h1 {
  font-size: 28px;
  text-align: $--site-display;
}

h2 {
  font-size: 18px;
  line-height: 25px;
}

i {
  color: get(asset-color);
  font-size: 20px;
}

/* It's purpose is to keep the footer down */
.wrapper {
  flex: 1 0 auto;
}

@media (max-width: getScreenSize(tablet-size)) {
  h1 {
      text-align: left;
  }
}
