$--asset-color: #ffffff;
/* $--asset-color */

$screen: (
    desktop-size: 1280px,
    laptop-size: 991px,
    mobile-size: 375px,
    tablet-size: 768px,
);

@function getScreenSize($device) {
  @return map-get($screen, $device);
}

/* 
@media (max-width: getScreenSize(mobile-size)) {
    ... 
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  color: #071d03;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
}

body {
  background: #fbfbfb;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 18px;
  line-height: 25px;
}

i {
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  h1 {
      text-align: left;
  }
}
